*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
    gap: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: flex-start; */
    border: 2px solid grey;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
}

.expiry{
    display:flex;
    padding:10px;
    gap: 10px;
}

.buttons{
    background-color: rgb(128, 128, 210);
    padding: 10px;
    font-size: 20px;

}

.buttons:hover{
    background-color: rgb(145, 202, 202);
}
.makeitred{
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
    
    color : "blue";
    
    border :"1px solid black";
    border-radius : "20px";
    

}