*{
    padding: 0;
    margin: 0;
    font-family: "Gilroy";
}
body,html{
    /* background-color: rgba(233, 213, 213, 0.845); */
    height: 100%;
    width: 100%;
    
}
#main{
    border-radius: 10px;
    margin-top: 40%;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 156, 241);
}
#timer{
    /* background-color: rgb(152, 116, 185); */
    background-image: radial-gradient(rgb(255, 255, 255),rgba(205, 57, 235, 0.743));
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#buttons{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: large;
    gap: 30px;

}
button{
    background-color: transparent;
    background-image: linear-gradient(to top,rgba(167, 56, 241, 0.815),rgba(219, 213, 213, 0.643));
    border-radius: 10px;
   border: 1px solid white;
    
    font-size: 40px;
    padding: 10px;
}